body {
    background-color: gray;
    padding: 0;
    margin: 0;
    display: inline-block;
}

header {
    width: 20%;
    border: 2px dotted black;
    text-align: center;
    margin: 0 auto;
    font-family: cursive;
    padding: 10px;
}

p {
    text-align: right;
}

section {
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h5 {
    text-align: right;
    font-family: cursive;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

h4 {
    font-style: italic;
}

div {
    width: 45%;
    margin: 10px;
    font-size: medium;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

div span {
    color: red;
}

img {
    width: 50%;
    height: auto;
    padding: 10% 2%;
    float: right;
}

.model-s,
.model-x {
    border-left: 0;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.model-3,
.model-y {
    border-right: 0;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}