body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(87deg, #70b4e7, #00709f, #229e27);
}

header {
    float: right;
}

section {
    width: 100%;
    padding: 150px 0px;
    min-width: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

button {
    color: white;
    font-size: 1rem;
    background: none;
    border: none;
    padding: 10px;
    margin: 5px;
}

div {
    margin: 5px;
    background-color: #a9ceea33;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    transition-duration: 5s;
    transition-delay: 0s;
    transform-box: content-box;
    transition-timing-function: ease-out;
}

div:hover {
    width: 20rem;
    height: 10rem;
}

p {
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    font-size: 2rem;
    background: none;
    border: none;
}

.one,
.two,
.three,
.four,
.five {
    width: 10%;
    padding: 45px 20px;
}

.one {
    transform: rotatez(45deg);
}

.two {
    perspective: 10cm;
}

.three {
    transform: rotatez(65deg);
}

.four {
    transform: rotatez(-25deg);
}

.five {
    transform: rotatez(45deg);
}