body {
    background-color: rgb(244, 244, 192);
    margin: 50px;
    text-align: center;
}

hr {
    border: 1px solid black;
}

div {
    display: inline-block;
    position: relative;
    border: 2px solid black;
    width: 250px;
    margin: 20px;
    padding: 10px;
}

img {
    width: 250px;
    height: 250px;
}

p {
    font-size: smaller;
}

#img-1,#img-2 ,#img-3 ,#img-4 ,#img-5 ,#img-6 ,#img-7 ,#img-8  {
    width: 15%;
    height: 8%;
    position: absolute;
    right: 15px;
    top: 180px;
}