body {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/029/943/213/small/vibrant-flower-garden-nature-beauty-as-a-cover-page-background-perfect-for-wallpaper-brochure-and-landing-page-design-templates-generative-ai-photo.jpg);
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment:fixed;
}

hr {
    border: 1px solid black;
}

div {
    display: inline-block;
    position: relative;
    background-origin: border-box;
    width: 260px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

img {
    width: 250px;
    border: 2px solid black;
    border-right: none;
    border-top: none;
    }

p {
    text-align: center;
    border: 2px solid black;
    border-right: none;
    border-top: none;
    padding: 15px;
    margin: 0;
}

#img-1 {
    width: 15%;
    height: 10%;
    position: absolute;
    right: 15px;
    top: 280px;
}

.gallery-container {
    background-size: cover;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    padding: 20px;
}

.gallery-item {
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
   margin-bottom: 20px;
}