body {
    font: 12pt Ariel bold;
    background-color: yellow;
    text-align: center;
}
h1 {
    display: block;
    font-style: italic;
    color: blue;
}
p {
    font-style: italic;
    display: block;
    font-size: 20px;
}
#p_1 {
    color: white;
}
#p_2 {
    color: green;
}
#p_3 {
    color: red;
}