body {
    background-color: gray;
}

section {
    position: relative;
    margin: 2% 20%;
    padding: 0 10%;
}

h1 {
    padding: 20px 0 0 0;
    margin: 10px 0 0 0;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    justify-content: center;
}

nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

nav ul li a:hover,
nav ul li a:active {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(19, 137, 176);
}

nav ul li {
    background-color: rgb(67, 65, 65);
    padding: 1rem 2rem;
}

ul li:nth-child(1) {
    background-color: rgb(17, 209, 161);
    border-radius: 1rem 0 0 1rem;
}

ul li:nth-child(6) {
    border-radius: 0 1rem 1rem 0;
}

#vertical-nav {
    margin: 0 0 3rem 0;

}

div {
    width: 90%;
    display: block;
    text-align: center;
    margin: 10px 3px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px 10px;
    background-color: white;
}

div li {
    width: 35%;
    display: inline-block;
    margin: 0 15px;
    padding: 10px;
    color: rgb(129, 129, 245);
    background-color: white;
    font-family: sans-serif;
    border: 2px solid gray;
    border-radius: 5px;
    float: inline-end;
}

button {
    width: 60px;
    background-color: rgb(17, 209, 161);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

ul.add-task {
    padding: 0;

}

div.add-task {
    margin: 0;
    padding: 0 0 20px;
}

#graph,
#bin {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    float: right;
}

#check {
    width: 20px;
    height: 20px;
    float: left;
}

#task-4 {
    text-align: start;
    text-decoration: line-through;
}

#task-4 a :hover {
    background-color: rgb(88, 85, 85);
}

#task-3,
#task-2,
#task-1 {
    text-align: start;

}

.badge {
    width: 35%;
    display: block;
    background-color: #4CAF50;
    color: #fff;
    padding: 5px 10px;
    margin: -15px 0;
    border-radius: 3px;
    float: left;
}